[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"

[packages]
pymysql = "*"
python-dotenv = "*"
xlrd = "*"
requests = "*"

[requires]
python_version = "3.7"
